{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="section-header">
      <h3 class="section-title">Blogs</h3>
  </div>
{% for post in all_blogs %}
<div class="padding-30 rounded bordered">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <!-- post  -->
            <div class="post post-list clearfix">
                <div class="thumb rounded">
                    <span class="post-format-sm">
                        <i class="icon-picture"></i>
                    </span>
                    <a href="#">
                        <div class="inner">
                            <img src="{{post.blog_image}}" alt="">
                        </div>
                    </a>
                </div>
                <div class="details">
                    <ul class="meta list-inline mb-3">
                        <li class="list-inline-item">
                            <a href="#">
                                {{post.blog_writer}}
                            </a>
                        </li>
                        <li class="list-inline-item">{{post.blog_created_at}}</li>
                    </ul>
                    <h5 class="post-tile">
                        <a href="{% url 'myblog:blogdetails' post.pk %}">
                            {{post.blog_title}}
                        </a>
                    </h5>
                    <p class="excerpt mb-0">
                        {{post.blog_body|slice:90}}...
                    </p>
                    <div class="post-bottom clearfix d-flex align-items-center">
                        <div class="social-share me-auto">
                            <button class="toggle-button icon-share"></button>
                            <ul class="icons list-unstyled list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/sugamnpp"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/sugamnp"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/sugam-neupane-6424451b2"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.pinterest.com/sugamnp"><i class="fab fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="more-button float-end">
                            <a href="#"><span class="icon-options"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endfor %}
</div>


{% endblock %}
