{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugam Blogs</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel=" stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="site-wrapper">
        <div class="main-overlay"></div>
        <header class="header-default">
            <nav class="navbar navbar-expand-lg">
                <div class="container-xl">
                    <!-- logo  -->
                    <a href="{% url 'myblog:home' %}" class="navbar-brand">
                        <img src="{% static 'images/sag.png' %}" alt="">
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="{% url 'myblog:home' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myblog:blogs' %}" class="nav-link">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myblog:aboutus' %}" class="nav-link">About Us</a>
                            </li>

                        </ul>
                    </div>

                    <!-- right side of header  -->
                    <div class="header-right">
                        <ul class="social-icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/sugamnpp/"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/sugamnp/"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.pinterest.com/sugamnp"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/sugam-neupane-6424451b2"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>

                        <!-- buttons  -->
                        <div class="header-buttons">
                            <button class="burger-menu icon-button">
                                <span class="burger-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>


        </header>

{% block content %}

        <!-- section starts  -->
        <section id="hero">
            <div class="container-xl">
                <div class="row gy-4">
                    <div class="col-lg-8">

                        <div class="post featured-post-lg">
                            <div class="details clearfix">
                                <h2 class="post-title">
                                    <a href="{% url 'myblog:blogdetails' featured_blog.pk %}">{{ featured_blog_title }}</a>
                                </h2>
                                <ul class="meta list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#">{{ featured_blog_writer }}</a>
                                    </li>
                                    <li class="list-inline-item">{{featured_blog_date}}</li>
                                </ul>
                            </div>
                            <a href="#">
                                <div class="thumb rounded">
                                    <div class="inner data-bg-image" data-bg-image="{{featured_blog_image}}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="post-tabs rounded bordered">
                            <ul class="nav nav-tabs nav-pills nav-fill" id="postTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button aria-controls="recent" aria-selected="false" class="nav-link"
                                        data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab"
                                        type="button">
                                        Recent
                                    </button>
                                </li>

                            </ul>

                            <!-- content  -->
                            <div class="tab-content" id="postsTabContent">
                                <!-- loader -->
                                <div class="lds-dual-ring"></div>
                                <!-- pop post  -->

                                <div class="tab-pane fade show active" id="popular" aria-labelledby="popular-tab"
                                    role="tabpanel">
                                    <!-- post  -->
                              {% for post in recent_blogs %}
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{post.blog_image}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="{% url 'myblog:blogdetails' post.pk %}">{{post.blog_title}}</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{post.blog_created_at}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                  {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>

        <!-- main content  -->

        <section class="main-content">
            <div class="container-xl">
                <div class="row gy-4">

                    <!-- left part 1st section  -->
                    <div class="col-lg-8">
                        <div class="section-header">
                            <h3 class="section-title">Editor's Pick</h3>
                        </div>

                        <div class="padding-30 rounded bordered">
                            <div class="row gy-5">
                                <div class="col-sm-6">
                                    <!-- post  -->
                                    <div class="post">
                                        <div class="thumb rounded">
                                            <span class="post-format">
                                                <i class="icon-picture"></i>
                                            </span>
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{editors_pick.0.blog_image}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="meta list-inline mt-4 mb-0">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    {{editors_pick.0.blog_writer}}
                                                </a>
                                            </li>
                                            <li class="list-inline-item">{{editors_pick.0.blog_created_at}}</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3">
                                            <a href="{% url 'myblog:blogdetails' editors_pick.0.pk%}">{{editors_pick.0.blog_title}}</a>
                                        </h5>
                                        <p class="excerpt mb-0">
                                            {{editors_pick.0.blog_body|slice:120}}...
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="post post-list-sm square">
                                        <div class="thumb rounded">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{editors_pick.1.blog_image}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="{% url 'myblog:blogdetails' editors_pick.1.pk %}">
                                                    {{editors_pick.1.blog_title}}
                                                </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{editors_pick.1.blog_created_at}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square">
                                        <div class="thumb rounded">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{editors_pick.2.blog_image}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="{% url 'myblog:blogdetails' editors_pick.2.pk%}">
                                                    {{editors_pick.2.blog_title}}
                                                </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{editors_pick.2.blog_created_at}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square">
                                        <div class="thumb rounded">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{editors_pick.3.blog_image}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="{% url 'myblog:blogdetails' editors_pick.3.pk %}">
                                                    {{editors_pick.3.blog_title}}
                                                </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{editors_pick.1.blog_created_at}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square">
                                        <div class="thumb rounded">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{editors_pick.4.blog_image}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="{% url 'myblog:blogdetails' editors_pick.4.pk %}">
                                                    {{editors_pick.4.blog_title}}
                                                </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{editors_pick.4.blog_created_at}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="spacer" data-height="50"></div>


                        <div class="spacer" data-height="50"></div>

                        <div class="section-header">
                            <h3 class="section-title">Inspiration</h3>
                            <div class="slick-arrows-top">
                                <buttton class="carousel-topNav-prev slick-custom-buttons" type="button"
                                    data-role="none" aria-label="Previous">
                                    <i class="icon-arrow-left"></i>
                                </buttton>
                                <buttton class="carousel-topNav-next slick-custom-buttons" type="button"
                                    data-role="none" aria-label="Next">
                                    <i class="icon-arrow-right"></i>
                                </buttton>
                            </div>
                        </div>

                        <div class="row post-carousel-twoCol post-carousel">
                            <div class="post post-over-content col-md-6">
                                <div class="details clearfix">
                                    <h4 class="post-title">
                                        <a href="#">Amazon prime video to coproduce "Ram Setu"</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#">Sanskar Dongol</a>
                                        </li>
                                        <li class="list-inline-item">03 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="#">
                                    <div class="thumb rounded">
                                        <div class="inner">
                                            <img src="{% static 'images/posts/insp-1.jpg' %}" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="post post-over-content col-md-6">
                                <div class="details clearfix">
                                    <h4 class="post-title">
                                        <a href="#">How to prepare your Google account afterlife.</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#">Sanskar Dongol</a>
                                        </li>
                                        <li class="list-inline-item">02 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="#">
                                    <div class="thumb rounded">
                                        <div class="inner">
                                            <img src="{% static 'images/posts/insp-2.jpg' %}" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="post post-over-content col-md-6">
                                <div class="details clearfix">
                                    <h4 class="post-title">
                                        <a href="#">Learn from top B-Schools at 1/10th the fee: upGrad</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#">Sanskar Dongol</a>
                                        </li>
                                        <li class="list-inline-item">01 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="#">
                                    <div class="thumb rounded">
                                        <div class="inner">
                                            <img src="{% static 'images/posts/insp-3.jpg' %}" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="spacer" data-height="50"></div>

                        <div class="section-header">
                            <h3 class="section-title">Latest Posts</h3>
                        </div>
                      {% for post in recent_blogs %}
                        <div class="padding-30 rounded bordered">
                            <div class="row">
                                <div class="col-md-12 col-sm-6">
                                    <!-- post  -->
                                    <div class="post post-list clearfix">
                                        <div class="thumb rounded">
                                            <span class="post-format-sm">
                                                <i class="icon-picture"></i>
                                            </span>
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{post.blog_image}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details">
                                            <ul class="meta list-inline mb-3">
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        {{post.blog_writer}}
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">{{post.blog_created_at}}</li>
                                            </ul>
                                            <h5 class="post-tile">
                                                <a href="#">
                                                    {{post.blog_title}}
                                                </a>
                                            </h5>
                                            <p class="excerpt mb-0">
                                                {{post.blog_body|slice:90}}...
                                            </p>
                                            <div class="post-bottom clearfix d-flex align-items-center">
                                                <div class="social-share me-auto">
                                                    <button class="toggle-button icon-share"></button>
                                                    <ul class="icons list-unstyled list-inline mb-0">
                                                        <li class="list-inline-item">
                                                            <a href="https://www.facebook.com/sugamnpp"><i class="fab fa-facebook-f"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="https://www.instagram.com/sugamnp/"><i class="fab fa-instagram"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="https://www.linkedin.com/in/sugam-neupane-6424451b2"><i class="fab fa-linkedin-in"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="https://www.pinterest.com/sugamnp"><i class="fab fa-pinterest"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="more-button float-end">
                                                    <a href="#"><span class="icon-options"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        {% endfor %}
                        <div class="text-center">
                          <a href="{% url 'myblog:blogs'%}">
                            <button class="btn btn-simple">Load More</button>
                          </a>
                        </div>
                        <!-- left part over here  -->
                    </div>
                    <!-- right part starts from here  -->

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <h3 class="widget-title">About me</h3>
                                    <p class="mb-4" style="text-align: justify;">This was supposed to be my portfolio
                                    but is now my blog? what am i doing with my life eh?</p>
                                    <ul class="social-icons list-unstyled list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="https://www.facebook.com/sugamnpp"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://www.instagram.com/sugamnp/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/sugam-neupane-6424451b2"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://www.pinterest.com/sugamnp"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title">Newsletter</h3>
                                </div>
                                <div class="widget-content">
                                    <span class="newsletter-headline text-center mb-3">Join 50,000 subscribers</span>
                                    <form action="#">
                                        <div class="mb-2">
                                            <input type="email" class="form-control w-100 text-center"
                                                placeholder="Email address...">
                                        </div>
                                        <button class="btn btn-default btn-full">Sign Up</button>

                                    </form>
                                    <span class="newsletter-privacy text-center mt-3">
                                        By signing up, you agree to our <a href="#">Privacy policy</a>
                                    </span>
                                </div>
                            </div>


                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title">Tag Clouds</h3>
                                </div>
                                <div class="widget-content">
                                    <a href="#" class="tag">#WebDev</a>
                                    <a href="#" class="tag">#Python</a>
                                    <a href="#" class="tag">#Django</a>
                                    <a href="#" class="tag">#Beauty</a>
                                    <a href="#" class="tag">#Blogs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
        <div class="instagram">
            <div class="container-xl">
                <a href="https://www.instagram.com/sugamnp/" class="btn btn-default btn-instagram">@sugamnp on Instagram</a>
            </div>
        </div>
          <!-- footer starts  -->
        <footer>
            <div class="container-xl">
                <div class="footer-inner">
                    <div class="row d-flex align-items-center gy-4">
                        <div class="col-md-4">
                            <span class="copyright">&copy; 2021 Sugam Neupane</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <ul class="social-icons list-unstyled list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/sugamnpp">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/sugamnp/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.pinterest.com/sugamnp">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/sugam-neupane-6424451b2">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <a href="#" id="return-to-top" class="float-md-end">
                                <i class="icon-arrow-up"></i>
                                Back to Top
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




    </div>


    <!-- canvas menu  -->
    <div class="canvas-menu d-flex align-items-end flex-column">
        <button class="btn-close" aria-label="Close" type="button"></button>

        <div class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="">
        </div>
        <nav>
            <ul class="vertical-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>


        <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/sugamnpp"><i class="fab fa-facebook-f"></i></a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.instagram.com/sugamnp/"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.pinterest.com/sugamnp"><i class="fab fa-pinterest"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/sugam-neupane-6424451b2"><i class="fab fa-linkedin"></i></a>
            </li>
        </ul>
    </div>




    <!-- javascripts  -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>

</body>

</html>
